body {
  background-color: black;
  height: 500vh;
  color: white;
  font-size: 40px;
}
input {
  width: 20px;
  height: 20px;
}
form,
#spritesheet {
  position: fixed;
}

#spritesheet {
  top: 100px;
}
